
h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 3px #ff69b4, 0 0 5px #ff69b4, 0 0 10px #ff69b4, 0 0 15px #ff69b4;
    }
    to {
        text-shadow: 0 0 10px #ff69b4, 0 0 15px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4;
    }
}
      
      h1 {
  font-family: "Lobster", "Arial", cursive;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}


.main-wrapper {
    flex-grow: 1;
    
}

/* Other CSS styles */




body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

header {
    background-color: #48036f;
    padding: 20px;
    font-family: "Lobster", "Arial", cursive;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    
        text-align: center;
        color: #000000;
        margin-bottom: 20px;
        animation: glow 1s ease-in-out infinite alternate;
    }
    
    @keyframes glow {
        from {
            text-shadow: 0 0 3px #ff69b4, 0 0 5px #ff69b4, 0 0 10px #ff69b4, 0 0 15px #ff69b4;
        }
        to {
            text-shadow: 0 0 10px #ff69b4, 0 0 15px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4;
        }
    }


h1, h2 {
    margin-bottom: 20px;
}

section {
    padding: 40px;
    text-align: center;
}

footer {
    background-color: #48036f;
    padding: 20px;
    text-align: center;
    
    
}

/* Media queries for mobile responsiveness */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav a {
        margin: 5px 0;
    }
    
}
